[Unit]
Description=Dante SOCKS5 Docker Container
After=network.target docker.service docker.socket
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a socks5
ExecStop=/usr/bin/docker stop -t 2 socks5

[Install]
WantedBy=multi-user.target